body{
    background-color:rgb(0,0,0);background-image:url(http://www.zingerbugimages.com/backgrounds/bamboo_wallpaper_tileable.jpg);background-position:top left;background-repeat:repeat;background-attachment:fixed;
        
}


.container {
    background-color: #7B0D7C;
	margin: auto;
	padding: 12px 0 12px 0;
	margin-top: 5%;
    text-align: center;
    width: 75%;
    border-style: solid;
    border-color: gray;
    border-radius: 25px;
    
}

.form-group{
    margin: 10px;
    align-content: center;
    
    text-decoration-color: azure;
    
    
}
.form-inline{
    align-content: center;
    
}

form{
    align-content: center;
   
}

.btn-info{
    background-color: mediumpurple;
    border-color: lavender;
}
.btn{
    border-color: white;
}
    
}

input{
    background-color:#5D595D;
}

.table{
    margin: auto;
	padding: 12px 0 12px 0;
	margin-top: 5%;
    width: 90%;
    background-color: white;
    border-color: aqua;
    border-width: thick;
    text-align: center; 
    border-radius: 10px;
        
}
th{
    text-align: center;
}
input{
    text-align: center;
    border-style:inset;
}
save-btn{
    padding: 10%;
}

.inventory{
    border-color: mediumpurple;
}
